// src/app/user/global-footer/global-footer.component.scss

$dark:       #222428;
$darker:     #1e1e1e;
$light:      #ffffff;
$primary:    #4d8dff;
$secondary:  #555;
$primary-blue: #00509e;
$primary-blue-light: #00a8ff;
$purple: #6262b2;

.global-footer {
  color: $light;
  text-align: center;
  padding: 0.5rem;

  .footer-nav {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.35rem;
    font-size: 0.8rem;
    justify-content: center;

    .privacy-btn {
      color: $light;
      text-decoration: none;

      &:hover,
      &.active {
        text-decoration: underline;
        color: $purple;
      }
    }
  }
}

