<footer class="global-footer">
  <nav class="footer-nav">
    <a routerLink="privacy-policy" routerLinkActive="active">{{ 'PRIVACY_POLICY' | translate }}</a>
    |
    <a routerLink="terms" routerLinkActive="active">{{ 'TERMS_CONDITIONS' | translate }}</a>
    |
    <a routerLink="refund-policy" routerLinkActive="active">{{ 'REFUND_POLICY' | translate }}</a>
    |
    <a routerLink="service-delivery-policy" routerLinkActive="active">{{ 'SERVICE_DELIVERY_POLICY' | translate }}</a>
  </nav>
</footer>