<section class="global-footer">
  <nav class="footer-nav">
    <a class="privacy-btn" routerLink="privacy-policy" routerLinkActive="active">{{ 'PRIVACY_POLICY' | translate }}</a>
    <span>|</span>
    <a class="privacy-btn" routerLink="terms" routerLinkActive="active">{{ 'TERMS_CONDITIONS' | translate }}</a>
    <span>|</span>
    <a class="privacy-btn" routerLink="refund-policy" routerLinkActive="active">{{ 'REFUND_POLICY' | translate }}</a>
    <span>|</span>
    <a class="privacy-btn" routerLink="service-delivery-policy" routerLinkActive="active">{{ 'SERVICE_DELIVERY_POLICY' | translate }}</a>
  </nav>
</section>