$dark:       #222428;
$darker:     #1e1e1e;
$light:      #ffffff;
$primary:    #4d8dff;
$secondary:  #555;
$primary-blue: #00509e;
$primary-blue-light: #00a8ff;
$purple: #6262b2;


.global-footer {
  color: var(--light);
  text-align: center;
  padding: 0.5rem;

  .footer-nav {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.9rem;

    a {
      color: var(--light);
      text-decoration: none;
      transition: text-decoration 0.2s;

      &:hover,
      &.active {
        text-decoration: underline;
        color: $purple;
      }
    }
  }
}