
@use 'sass:color';

$dark:       #222428;
$darker:     #1e1e1e;
$light:      #ffffff;
$primary:    #4d8dff;
$secondary:  #555;

$primary-blue: #00509e;
$primary-blue-light: #00a8ff;

$card-header-bg: #2a3443;
$card-button-bg: #42526a;
$card-price-color: #658eb6;

.billing-component {
  height: 81vh;
  overflow-y: auto;
  background: $dark;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 2px 8px $darker;

  .inner-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: $light;
  }
}

:host ::ng-deep .ag-theme-alpine {
  // промени боја на header
  .ag-header {
    background-color: #343a40;   // темно сиво
  }
  .ag-header-cell-label {
    color: $light;                // бели titles
    font-weight: 500;
  }

  // редови
  .ag-row {
    &.ag-row-hover {
      background-color: #495057 !important; // hover dark
    }
  }

  // селектирано
  .ag-row-selected {
    background-color: rgba(40,167,69,0.2) !important;
  }

  // ќелија при фокус
  .ag-cell-focus {
    outline: 2px solid #28a745;
  }
}
