// src/app/user/header-in/header-in.component.scss
$dark:       #222428;
$darker:     #1e1e1e;
$light:      #ffffff;
$primary:    #4d8dff;
$secondary:  #555;

.header-in {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.05rem;
  font-weight: 700;
  color: gray;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    font-size: 0.95rem;
  }
}
