<section class="refund-polisy-component p-2 bg-dark">

  <h3 class="inner-title mb-4">{{ 'REFUND_POLICY' | translate }}</h3>

  <div class="d-flex justify-content-center align-items-center flex-column">
      <pdf-viewer
        [src]="pdfSrc"
        [render-text]="true"
        style="display: block; width: 51%; height: 70vh; background-color: white;"
        [original-size]="false"
        [zoom]="1"
        [show-all]="true"
        [stick-to-page]="true"
      ></pdf-viewer>
  </div>

</section>