<div id="app-component-wrap" class="app-component-wrap">
  <!-- Header -->
  <header id="header-wrap" class="header-wrap">
    <app-header></app-header>
  </header>

  <app-loading-bar class="app-logout-warning"></app-loading-bar>

  <!-- Main Content -->
  <div id="content-wrap" class="content-wrap"  #contentWrap>
    <router-outlet></router-outlet>
  </div>

  <!--Toast Container -->
  <div id="toast-container" class="toast-container position-fixed end-0 p-3" style="z-index: 1200;" aria-live="polite" aria-atomic="true"></div>

</div>

