<section class="container privacy-page py-3">
  <div class="privacy-card mx-auto">

    <div class="card-header">
      <!-- <span>{{ 'PRIVACY_POLICY' | translate }}</span> -->
    </div>

    <div class="card-body">

    <!-- ZOOM TOOLBAR -->
    <div class="pdf-toolbar d-flex justify-content-end align-items-center mb-3">
      <div class="btn-group btn-group-sm">

        <button
          type="button"
          class="btn btn-outline-light"
          (click)="zoomOut()"
          [disabled]="zoom <= 0.61">
          −
        </button>

        <!-- средното копче сега го покажува процентот -->
        <button
          type="button"
          class="btn btn-zoom-display"
          (click)="resetZoom()">
          {{ (zoom * 100) | number:'1.0-0' }}%
        </button>

        <button
          type="button"
          class="btn btn-outline-light"
          (click)="zoomIn()"
          [disabled]="zoom >= 1.99">
          +
        </button>
      </div>
    </div>

      <!-- PDF VIEWER -->
      <div class="pdf-shell pdf-dark mx-auto">
        <pdf-viewer
          [src]="pdfSrc"
          [render-text]="true"
          style="height: 55vh;"
          [original-size]="false"
          [zoom]="zoom"
          [show-all]="true">
        </pdf-viewer>
      </div>

    </div>
  </div>
</section>
