$dark:       #222428;
$darker:     #1e1e1e;
$light:      #ffffff;
$primary:    #4d8dff;
$secondary:  #555;

$primary-blue: #00509e;
$primary-blue-light: #00a8ff;

$card-header-bg: #2a3443;
$card-button-bg: #42526a;
$card-price-color: #658eb6;

$table-header-bg: #343a40;
$table-row-color: #495057;
$table-row-selected: rgba(40,167,69,0.2); // green with transparency
$table-sucsess: #28a745;
$table-danger: #dc3545;


:host ::ng-deep .ag-theme-alpine {

  .ag-header {
    background-color: $table-header-bg;
  }
  .ag-header-cell-label {
    color: $light;
    font-weight: 500;
  }

  .ag-row {
    &.ag-row-hover {
      background-color: $table-row-color !important;
    }
  }

  .ag-row-selected {
    background-color: $table-row-selected !important;
  }

  .ag-cell-focus {
    outline: 2px solid $table-sucsess;
  }
}

:host ::ng-deep .status-dot {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  vertical-align: middle;
  margin: auto;
}
:host ::ng-deep .status-dot.success {
  background-color: $table-sucsess;
}
:host ::ng-deep .status-dot.danger {
  background-color: $table-danger;
}
