<!-- src/app/user/history/history.component.html -->
<section class="history-root">
  <div class="history-header d-flex justify-content-between align-items-center mb-2">
    <div class="form-label small">
        {{ 'SEARCH_HISTORY' | translate:{ default:'Search history' } }}
    </div>
  </div>

  <ag-grid-angular
    [theme]="theme"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [pagination]="true"
    [paginationPageSize]="20"
    (gridReady)="onGridReady($event)"

    [rowSelection]="'single'"
    [suppressRowClickSelection]="true"
    [suppressCellFocus]="true"

    style="width: 100%; height: 40vh"
  >
  </ag-grid-angular>
</section>
