// боја/варијабли
$black:     #000000;
$dark:       #222428;
$darker:     #1e1e1e;
$light:      #ffffff;
$primary:    #4d8dff;
$secondary:  #555;

$header-total-height: 128px;

// adjust mobile nav
.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark);
  color: var(--light);
  padding: .75rem 1rem;
  color: $secondary;
  border: 1px solid $secondary;

  .btn{
    color: $secondary;
    border: 1px solid $secondary;
  }

  @media(min-width: 992px) {
    display: none;
  }
}

// main wrapper
.user-wrap {
  display: flex;
  height: 100%;
  background: $black;
  color:$secondary;
}

// shift main content when sidebar open on desktop
.content {
  flex: 1;
  transition: margin-left .3s ease;
  overflow-y: auto;

  .main-header-wrap{
    height: 5%;
    background-color: $darker;
    margin: 4px 0px 3px 3px;
  }

  .main-router-wrap { 
    padding: 1rem;
    height: calc(100% - 12%); // adjust for header height
    background-color: $dark;
    overflow-y: auto;
    margin-left: 3px;
  }

  .main-footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background-color: $darker;
    margin: 3px 0px 0px 3px;
  }
}

/* When sidebar is expanded */
app-sidebar.open ~ .user-wrap .content {
  margin-left: 240px;
}

/* When sidebar is collapsed mini-mode */
app-sidebar.closed ~ .user-wrap .content {
  margin-left: 60px;
}

/* On small screens, content should always be full-width */
@media (max-width: 991px) {
  app-sidebar ~ .user-wrap .content {
    margin-left: 0 !important;
  }
}
