// боја/варијабли
$black:     #000000;
$dark:       #222428;
$darker:     #1e1e1e;
$light:      #ffffff;
$primary:    #4d8dff;
$secondary:  #555;

// adjust mobile nav
.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark);
  color: var(--light);
  padding: .75rem 1rem;

  @media(min-width: 992px) {
    display: none;
  }
}

// main wrapper
.user-wrap {
  display: flex;
  height: 100%;
  background: $black;
  color:$secondary;
}

// shift main content when sidebar open on desktop
.content {
  flex: 1;
  transition: margin-left .3s ease;
  overflow-y: auto;

  .main-header-wrap{
    height: 5%;
    background-color: $darker;
    margin: 3px 0px 3px 0px;
  }

  .main-router-wrap {
    padding: 1rem;
    height: calc(100% - 12%); // adjust for header height
    background-color: $dark;
    margin-bottom: 3px;
    overflow-y: auto;
  }

  .main-footer-wrap {
    display: flex;
    align-items: center;
    height: 5%;
    background-color: $darker;
    margin: 3px 0px 3px 0px;
  }
}
