$dark:       #222428;
$darker:     #1e1e1e;
$light:      #ffffff;
$primary:    #4d8dff;
$secondary:  #555;

$primary-blue: #00509e;
$primary-blue-light: #00a8ff;

$card-header-bg: #2a3443;
$card-button-bg: #42526a;
$card-price-color: #658eb6;

$table-header-bg: #343a40;
$table-row-color: #495057;

.buy-credits {
  height: 81vh;
  overflow-y: auto;
  padding-top: 1%;
  background: $dark;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 2px 8px $darker;

  .inner-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: $light;
  }
  
  .card-grid {

    .container-fluid {
      height: 100%;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .col{
      padding: 1%;
    }

    .credit-card {
      border: 1px solid $table-row-color;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 4px 4px 5px rgb(66 82 106);
    }

    .credit-card .card-header {
      font-size: 1.25rem;
      background-color: $table-row-color;
    }

    .price {
      color: $card-price-color;
      font-weight: 500;
    }

    .card-body {
      padding: 2rem;
      background-color: $table-header-bg;

      .btn {
        background-color: $card-button-bg;
        color: $light;
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($card-button-bg, 10%);
        }
      }
    }
  }
}



